<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>
    <form action="/search" method="post">
      <input type="text" name="tags" value="tags">
      <input type="submit" value="Submit">
    </form>
</body>
</html>
